# Log files
*.log
logs/

# World data
world/
world_nether/
world_the_end/

# Server-specific files
usercache.json
usernamecache.json
banned-ips.json
banned-players.json
ops.json
white-list.json
eula.txt

# Crash reports
crash-reports/

# Plugin data
plugins/

# Temporary or build files
*.tmp
*.jar
*.zip
*.rar
