version: '3.8'
services:
  minecraft_server:
    build: 
      context: . 
      args: 
        SERVER_ENV: ${SERVER_ENV}
        CACHE_BUST: ${BUILD_ID} # Cache Buster (cambiar el valor de BUILD_ID si falla)
        
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped

    # CRÍTICO: El comando es ahora el entrypoint.sh
    command: /usr/local/bin/entrypoint.sh # Usar el script como CMD si no está definido en el Dockerfile

    # Límites de recursos (Max 2 núcleos, 4gb RAM)
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4096m
        reservations:
          cpus: '0.5'
          memory: 1G
    
    # CRÍTICO: El volumen ahora apunta a /data (donde se moverán los archivos)
    volumes:
      - minecraft_data:/data 
    
    # Variables de Entorno (Se mantienen las optimizaciones G1GC y RAM)
    environment:
      JAVA_OPTS: "-Xmx${MINECRAFT_MEMORY_LIMIT} -Xms1G" # RAM
      EULA: "TRUE"
      BUILD_ID: "5" # <-- Cambia este valor para forzar un nuevo build limpio
      JAVA_OPTS_GC: "-XX:+AlwaysPreTouch -XX:+DisableExplicitGC -XX:+ParallelRefProcEnabled -XX:+PerfDisableSharedMem -XX:+UnlockExperimentalVMOptions -XX:+UseG1GC -XX:G1HeapRegionSize=8M -XX:G1HeapWastePercent=5 -XX:G1MaxNewSizePercent=40 -XX:G1MixedGCCountTarget=4 -XX:G1NewSizePercent=30 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:G1ReservePercent=20 -XX:InitiatingHeapOccupancyPercent=15 -XX:MaxGCPauseMillis=200 -XX:MaxTenuringThreshold=1 -XX:SurvivorRatio=32"
          
    expose:
      - "25565"

    networks:
      - default 
      - minecraft_tunnel_network 
  
# Definición de Volúmenes y Redes
volumes:
  minecraft_data: 
    name: ${WORLD_VOLUME_NAME}
    driver: local

networks:
  default:
    driver: bridge
  minecraft_tunnel_network: 
    name: minecraft_tunnel_network 
    driver: bridge
