version: '3.8'
services:
  minecraft_server:
    # Build la imagen
    build: 
      context: . 
      args: 
        SERVER_ENV: ${SERVER_ENV} # Pasa la variable de entorno (prod/staging) al Dockerfile
        
    container_name: ${CONTAINER_NAME} # Nombre 칰nico por entorno
    restart: unless-stopped

    # CR칈TICO: El comando concatena las flags de RAM (-Xmx) y las flags de optimizaci칩n (JAVA_OPTS_GC)
    command: java $JAVA_OPTS $JAVA_OPTS_GC -jar paper.jar nogui

    # L칤mites de recursos (BUENA PR츼CTICA: M치ximo 2 n칰cleos)
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4096m
        reservations:
          cpus: '0.5'
          memory: 1G
    
    # Persistencia de Datos: CR칈TICO
    volumes:
      # Mapea el volumen nombrado al WORKDIR del contenedor
      - minecraft_data:/server 
    
    # Variables de Entorno
    environment:
      # 1. Configuraci칩n de RAM
      JAVA_OPTS: "-Xmx${MINECRAFT_MEMORY_LIMIT} -Xms1G" 
      EULA: "TRUE"
      
      # 2. Flags de Optimizaci칩n G1GC integradas
      JAVA_OPTS_GC: "-XX:+AlwaysPreTouch -XX:+DisableExplicitGC -XX:+ParallelRefProcEnabled -XX:+PerfDisableSharedMem -XX:+UnlockExperimentalVMOptions -XX:+UseG1GC -XX:G1HeapRegionSize=8M -XX:G1HeapWastePercent=5 -XX:G1MaxNewSizePercent=40 -XX:G1MixedGCCountTarget=4 -XX:G1NewSizePercent=30 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:G1ReservePercent=20 -XX:InitiatingHeapOccupancyPercent=15 -XX:MaxGCPauseMillis=200 -XX:MaxTenuringThreshold=1 -XX:SurvivorRatio=32"
          
    expose:
      - "25565"

    # 游띔 FIX CR칈TICO: Usar el nombre de red definido abajo
    networks:
      - default 
      - minecraft_tunnel_network 
  
# Definici칩n de Vol칰menes
volumes:
  minecraft_data: 
    name: ${WORLD_VOLUME_NAME}
    driver: local

# Redes (Aqu칤 se define la red que el servicio usa)
networks:
  default:
    driver: bridge
  minecraft_tunnel_network: 
    name: minecraft_tunnel_network 
    driver: bridge