version: '3.8'
services:
  minecraft_server:
    build: 
      context: . 
      args: 
        SERVER_ENV: ${SERVER_ENV}
        CACHE_BUST: ${BUILD_ID} # Cache Buster
        
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped

    # El comando es el script de entrada (entrypoint.sh)
    command: /usr/local/bin/entrypoint.sh 

    # Límites de recursos (Se mantienen)
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 4096m
        reservations:
          cpus: '0.5'
          memory: 1G
    
    # Volumen: Mapea a /data donde entrypoint.sh copia/ejecuta los archivos
    volumes:
      - minecraft_data:/data 
    
    environment:
      JAVA_OPTS: "-Xmx${MINECRAFT_MEMORY_LIMIT} -Xms1G" # RAM
      EULA: "TRUE"
      BUILD_ID: "6" # <-- CAMBIA ESTE VALOR CADA VEZ QUE HAGAS UN BUILD
      JAVA_OPTS_GC: "-XX:+AlwaysPreTouch -XX:+DisableExplicitGC -XX:+ParallelRefProcEnabled -XX:+PerfDisableSharedMem -XX:+UnlockExperimentalVMOptions -XX:+UseG1GC -XX:G1HeapRegionSize=8M -XX:G1HeapWastePercent=5 -XX:G1MaxNewSizePercent=40 -XX:G1MixedGCCountTarget=4 -XX:G1NewSizePercent=30 -XX:G1RSetUpdatingPauseTimePercent=5 -XX:G1ReservePercent=20 -XX:InitiatingHeapOccupancyPercent=15 -XX:MaxGCPauseMillis=200 -XX:MaxTenuringThreshold=1 -XX:SurvivorRatio=32"
          
    expose:
      - "25565" # Puerto interno de Minecraft

    networks:
      - default 
      - minecraft_tunnel_network 
      
  # ----------------------------------------------------
  # NUEVO SERVICIO: PLAYIT.GG TUNNEL
  # ----------------------------------------------------
  playit_agent:
      image: playit-agent-build:latest
      container_name: playit_minecraft_tunnel
      restart: unless-stopped
      
      # El build necesita el archivo playit.dockerfile
      build:
        context: .
        dockerfile: playit.dockerfile
      
      # CRÍTICO: Mantenemos el STDIN abierto para el claim code y el TTY para compatibilidad
      stdin_open: true  # <--- Asegúrate que esta línea solo exista AQUÍ
      tty: true         # <--- Asegúrate que esta línea solo exista AQUÍ
  
      # CRÍTICO: Conectamos a la red interna
      networks:
        - minecraft_tunnel_network
        
      # Volumen para persistir la configuración (clave de playit.gg)
      volumes:
        - playit_config_data:/root/.playit
# Definición de Volúmenes y Redes (Al final del archivo)
volumes:
  minecraft_data:
    name: ${WORLD_VOLUME_NAME}
    driver: local
  # CRÍTICO: Nuevo volumen para persistir la configuración de playit (token y túneles)
  playit_config_data:
    name: playit_config
    driver: local

networks:
  default:
    driver: bridge
  minecraft_tunnel_network: 
    name: minecraft_tunnel_network 
    driver: bridge
